body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    }

#container {
    width: 800px;
    height: 500px;
    border: 0px solid black;
}

.box {
    height: 50px;
    width: 50px;
    border: 1px solid white;
}

.box:hover {
    cursor: pointer;
}

#score {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}